[user]
	name = nklvnsta
	email = nastanikol10105@gmail.com
[credential]
	helper = "!f() { /root/.vscode-server/bin/1a5daa3a0231a0fbba4f14db7ec463cf99d7768e/node /tmp/vscode-remote-containers-6f58095a-3bde-4434-bad7-2acb0b751507.js git-credential-helper $*; }; f"
